@charset "utf-8";
/* CSS Document */
*{
	box-sizing:border-box;
}
body {
background-color: rgba(242,203,139,0.50)
}
#contenedor{
	
	width: 1366px;
	height: 1598px;
}
#contenedor #encabezado{
	width: 1366px;
	height: 150px;
	background-color: #FFFFFF;
	position: relative;
	top: 0px;
	
}
#contenedor #encabezado #logo img{
	width: 25%;
	height: auto;
	position: absolute;
	left: 20px;
	top: 1.5px;
	
}
#contenedor header nav {
	width: 60%;
	height: 100px;
	position:absolute;
  	right: 20px;
  	top: 20px;
	background-color: #FFFFFF;
	padding: 3px;
	text-align: center;
	
	
}
#contenedor header nav ul li{
	width: 180px;
	height: 100px;
	display: inline-block;
	text-decoration: none;
  	text-align:center;
	position: relative;
	bottom: 10px;
	border-box: medium #751611;
	box-shadow: 0.5px 0.5px 1px #000000;
}
#contenedor header nav ul li a {
	text-decoration: none;
	color: #000000;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 26px; 
	font-weight: bolder;
	display: block;
	padding:32px 20px;
	
}

#contenedor header nav ul li a:hover{
	background-color: #751611;
	text-shadow: 1px 1px 0px #000000;
	color: #fff;
	cursor: pointer;
	transform: translate(-2%,2%)
}
#eslogan{
  background-color: rgb(56, 58, 55);
  position: absolute;
  left: -6px;
  top: 150px;
  width: 1373px;
  height: 84px;
}
#eslogan h1{
  font-family: "Arial";
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-style: italic;
    position: absolute;
  left: 474px;
  top: -20px;
  width: 700px;
  height: 94px;
}

#mision h3{
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
  color: #751611;
  font-weight: bold;
  font-size: 33px;
  line-height: 1.2;
  text-align: justifyLeft;
  position: absolute;
  left: 25px;
  top: 230px;
  width: 132px;
  height: 37px;
}
#mision p{
	font-size: 18px;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
  color: rgb(1, 0, 0);
  line-height: 1.2;
  text-align: justify;
  position: absolute;
  left: 25px;
  top: 308px;
  width: 683px;
  height: 178.905px;
}
#mision img{
  position: absolute;
  left: 785px;
  top: 255px;
  width: 482px;
  height: 227px;
  z-index: 27;

}
#separador img{
  position: absolute;
  left: 0px;
  top: 500px;
  width: 1366px;
  height: 63px;
}
#vision h3{
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
  color: #751611;
  font-weight: bold;
  font-size: 33px;
  line-height: 1.2;
  text-align: right;
  position: absolute;
  left: 1202px;
  top: 568px;
  width: 126.958px;
  height: 37.688px;

}
#vision p{
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
  color: rgb(1, 0, 0);
  font-size: 18px;
  line-height: 1.2;
  text-align: justify;
  position: absolute;
  left: 704px;
  top: 645px;
  width: 626px;
  height: 149.424px;
  z-index: 19;
}
#vision img{
  position: absolute;
  left: 115px;
  top: 585px;
  width: 482px;
  height: 227px;
}
#separador2 img{
  position: absolute;
  left: 0px;
  top: 835px;
  width: 1366px;
  height: 63px;
}
#objetivos h3{
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
  color: #751611;
  font-weight: bold;
  font-size: 33px;
  line-height: 1.2;
  text-align: justifyLeft;
  position: absolute;
  left: 25px;
  top: 900px;
  width: 197.451px;
  height: 45px;
}
#objetivos p{
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
  font-size: 18px;
  color: rgb(1, 0, 0);
  line-height: 1.2;
  text-align: justify;
  position: absolute;
  left: 25px;
  top: 980px;
  width: 683px;
  height: 178.905px;
}
#objetivos img{
  position: absolute;
  left: 785px;
  top: 921px;
  width: 482px;
  height: 227px;
  z-index: 15;
}
#separador3 img{
  position: absolute;
  left: 0px;
  top: 1170px;
  width: 1366px;
  height: 63px;
  z-index: 16;
}
#valores h3{
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
  color: #751611;
  font-weight: bold;
  font-size: 33px;
  line-height: 1.2;
  text-align: right;
  position: absolute;
  left: 1176.559px;
  top: 1240px;
  width: 160.564px;
  height: 35.688px;
}
#valores p{
  font-size: 18px;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
  color: rgb(1, 0, 0);
  line-height: 1.2;
  text-align: justify;
  position: absolute;
  left: 704px;
  top: 1321px;
  width: 633px;
  height: 85.962px;
}
#valores img{
  position: absolute;
  left: 115px;
  top: 1260px;
  width: 482px;
  height: 227px;
  z-index: 9;
}
.piedepagina{
	background-color: rgb(101, 153, 51);
  position: absolute;
  left: 0px;
  top: 1525px;
  width: 1367px;
  height: 134px;
}
.piedepagina h4{
  font-size: 22px;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  color: rgb(255, 255, 255);
  text-align: center;
}
.piedepagina h5{
	width: 1366px;
	height:0px;
	position: absolute;
	top: 50px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 22px;
	text-align: center; 
	color: #FFFFFF;
	font-weight: bold
}
